.card-text{
    font-size: 30px;
    }
    
    .btn-secondary{
        border: none;
        color: white;
        padding: 15px 32px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .footer-bottom{
        text-align: center;
        justify-content: center;
    }
    